.social {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  height: 30%;
  width: 100%;
  align-items: flex-end;
  background-color: #323437;
}

.social a {
  border-radius: 50%;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  transition: 0.6s;
  animation: social 2s ease-in-out forwards;
}

.social a:hover {
  transform: translate(0, -20px);
}

svg {
  vertical-align: middle;
}

a {
  color: grey;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: black;
}

@keyframes social {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(-90px);
  }
}
