<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./media/logo.ico" />
  <link rel="stylesheet" type="text/css" href="/css/global.css" />
  <link rel="stylesheet" type="text/css" href="/css/intorduction.css" />
  <link rel="stylesheet" type="text/css" href="/css/projects.css" />
  <link rel="stylesheet" type="text/css" href="/css/social.css" />
  <link rel="stylesheet" type="text/css" href="/css/slideTab.css" />

  <title>Personal Website - SEK</title>
</head>
