<div class="buttons">
  <button class="active-button">
    {{partial "svgs/codeIcon" (dict "fill" "black")}}
  </button>

  <button>{{partial "svgs/designIcon" (dict "fill" "gray")}}</button>

  <button>{{partial "svgs/musicIcon" (dict "fill" "gray")}}</button>
</div>

<main>
  <div class="carousel">
    {{partial "container" (dict "elements" .Site.Data.projects) }} {{partial
    "container" (dict "elements" .Site.Data.designs) }} {{partial "container"
    (dict "elements" .Site.Data.pieces) }}
  </div>
</main>
